#adam{
    position: absolute;
    display:block;

}

body{
    background-color: grey;
}
#darkbeing{
    position: absolute;
    display:none;
    top: 200px;
    left: 400px;
}

#dialogue{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:orange;
    top: 20px;
    left: 300px;
    position: absolute;
}

@keyframes descend{
    0%{
        top: 0px;
        left: 100px;
    }
    100%{
        top: 260px;
        left: 350px;
    }
}