p1{
    position: absolute;
    font-size: 25px;
    text-align: center;
    color: red;
    left: 70px;
}
p2{
    position: absolute;
    font-size: 20px;
    text-align: center;
    color: red;
    left: 250px; 
}

p3{
    position: absolute;
    font-size: 14px;
    text-align: center;
    color: red;
    left: 740px;
}
p4{
    position: absolute;
    font-size: 14px;
    text-align: center;
    color: red;
    left: 900px;
}
p5{
    position: absolute;
    font-size: 14px;
    text-align: center;
    color: red;
    left: 900px;
}
#lives{
    position: absolute;
    font-size: 14px;
    text-align: center;
    color: red;
    left: 940px;
}
#finish{
    position:absolute;
    width: 100px;
    height: 40px;
    background-color: teal;
    top: 0px;
    left: 700px;
    display:none;
}


#countdown{
    position: absolute;
    font-size: 14px;
    text-align: center;
    color: red;
    left: 800px;
}
#block1{
    position: absolute;
    width: 70px;
    height: 300px;
    top: 150px;
    left: 50px;
    background-color: grey;

}
#block2{
    position: absolute;
    width: 400px;
    height: 100px;
    top: 300px;
    left: 500px;
    background-color: grey;

}
#block3{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 10px;
    left: 800px;
    background-color: grey;

}
#block4{
    position: absolute;
    width: 500px;
    height: 70px;
    top: 70px;
    left: 200px;
    background-color: grey;

}

#block5{
    position: absolute;
    width: 500px;
    height: 70px;
    top: 250px;
    left: 200px;
    background-color: grey;

}

#orange1{
    position:absolute;
    top: 320px;
    left: 390px;
    display:block;
}
#orange2{
    position:absolute;
    top: 170px;
    left: 110px;
    display:block;
}
#orange3{
    position:absolute;
    top: 140px;
    left: 450px;
    display:block;
}
#orange4{
    position:absolute;
    top: 300px;
    left: 690px;
    display:block;
}

#cart{
    position: absolute;
    rotate:90deg;
}

