body{
    background-color: bisque;
}

p1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:blue;
    text-align: center;
    font-size: 30px;
    position: absolute;
    left: 150px;
}
p2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:blue;
    text-align: center;
    font-size: 14px;
    position: absolute;
    top: 40px;
    left: 200px;
}

#countdown{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:blue;
    text-align: center;
    font-size: 14px;
    position: absolute;
    top: 40px;
    left: 270px;
}
p4{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:blue;
    text-align: center;
    font-size: 14px;
    position: absolute;
    top: 40px;
    left: 350px;
}
#lives{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:blue;
    text-align: center;
    font-size: 14px;
    position: absolute;
    top: 40px;
    left: 400px;
}
p6{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:blue;
    text-align: center;
    font-size: 14px;
    position: absolute;
    top: 40px;
    left: 550px;
}
#block1{
    position: absolute;
    width: 180px;
    height: 70px;
    top: 150px;
    left: 150px;
    background-color: brown;

}
#block2{
    position: absolute;
    width: 40px;
    height: 400px;
    top: 150px;
    left: 120px;
    background-color: brown;

}
#block3{
    position: absolute;
    width: 150px;
    height: 300px;
    top: 10px;
    left: 800px;
    background-color: brown;

}
#block4{
    position: absolute;
    width: 450px;
    height: 70px;
    top: 70px;
    left: 200px;
    background-color: brown;

}

#block5{
    position: absolute;
    width: 400px;
    height: 100px;
    top: 250px;
    left: 500px;
    background-color: brown;

}

#book1{
    position:absolute;
    top: 320px;
    left: 490px;
    display:block;
}
#book2{
    position:absolute;
    top: 210px;
    left: 130px;
    display:block;
}
#book3{
    position:absolute;
    top: 140px;
    left: 450px;
    display:block;
}
#book4{
    position:absolute;
    top: 250px;
    left: 690px;
    display:block;
}
#book5{
    position:absolute;
    top: 190px;
    left: 790px;
    display: block;
}
#cart{
    position: absolute;
    rotate:90deg;
}

#finish{
    width: 60px;
    height: 80px;
    color: green;
    background-color: orange;
    display: none;
    position: absolute;
    top: 20px;
    left: 630px;
}